DATABASE_URL="mysql://username:password@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/semestr_db?sslaccept=strict"
NEXTAUTH_SECRET="your-nextauth-secret"
NEXTAUTH_URL="http://localhost:3000"
ANTHROPIC_API_KEY=""
GEMINI_API_KEY="your-gemini-api-key"
